temp
.vs
packages
TDDs/TDD.Android/obj
Sources/Utils/obj
Samples/CognitoSettings/AmazonSample/TODOList.Android/obj
Samples/CognitoSettings/Android/obj
Samples/FirebaseRemoteConfig/Android/obj
Samples/LocalSettings/Android/obj
Samples/Standard-iOS/Assembly/obj
Samples/MicrosoftExtensionsConfiguration/Sample.MicrosoftExtensionsConfiguration.Core/obj
Samples/LocalSettings/iOS/obj
Samples/JSONSettings/Android/obj
Sources/Android/obj
Samples/DynamicSettings/Android/obj
Samples/AzureSettings/Sample.AzureSettings.ASP.NET/obj
Samples/AzureSettings/Sample.AzureSettings.Core/obj
Samples/CognitoSettings/Windows/obj
Samples/CognitoSettings/iOS/obj
Samples/EnvironmentVariables/obj
Samples/FirebaseRemoteConfig/Standard-iOS/Assembly/obj
Samples/InAppSettingsKit/obj
Samples/LocalSettings/Mac/obj
Samples/CognitoSettings/AmazonSample/TODOList.iOS/obj
Samples/CognitoSettings/AmazonSample/TODOListPortableLibrary/obj
Resource.designer.cs
Samples/LocalSettings/Windows/obj
Samples/JSONSettings/iOS/obj
Samples/Standard-iOS/App/obj
Samples/FirebaseRemoteConfig/iOS/obj
Samples/FirebaseRemoteConfig/Standard-iOS/App/obj
Samples/iCloudSettings/IOS/obj
Sources/Windows/ClassicDesktop/obj
TDDs/TDD.Windows.ClassicDesktop/obj
TDDs/TDD.iOS/obj
Sources/Standard/obj
Sources/Core/obj
Sources/Apple/iOS/obj
Sources/Apple/Mac/obj
Sources/SharpSerializer/obj
Bin
Samples/DynamicSettings/iOS/obj
